.dashboard {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: #212121;
  font-family: iransans, Roboto, "Helvetica Neue", Helvetica,
    "Apple Color Emoji", Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.3333333333333333;
  color: #212121;
  background-color: #f5f5f5;
  direction: rtl;
  margin-bottom: 16px;
  padding-top: 48px;
}
