.boards {
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-top: 48px;
  user-select: none;
}

.board-container {
  display: flex;
  flex-direction: column;
}

.board-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  padding-right: 16px;
}

.organization-icon {
  top: -4px;
}

.board-title {
  margin: 0;
  padding: 8px;
}

.btn,
.setting {
  display: flex;
  background-color: unset;
  color: #03a9f4;
  padding: 16px;
  border-style: none;
  border-radius: 2px;
  margin-right: 0px;
  height: 36px;
  line-height: 3.6rem;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}

.btn:hover,
.setting:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.btn:focus-visible {
  border: none;
}

.setting {
  display: flex;
}

.project-cards {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}
.project-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 290px;
  height: 160px;
  cursor: pointer;
  margin: 15px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.project-card:hover {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
  background-color: #f7f7f7;
}

.project-header {
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  height: 50px;
  margin-right: 8px;
  gap: 4px;
  margin: 4px;
  padding: 8px;
}

.project-title {
  display: flex;
  align-items: center;
  margin-top: 4px;
  font-weight: 600;
  font-size: 16px;
}

.star-icon {
  display: flex;
  align-items: center;
  color: #999;
  font-size: 20px;
}

.project-inner {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 16px;
}
.profile {
  display: flex;
  border: 3px;
  border-style: solid;
  border-color: #03a9f4;
  border-radius: 50%;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  margin: 15px;
  padding: 25px 15px;
  text-align: center;
  color: #757575;
  border: 2px dashed #cdcdcd;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 16px;
}

.add-board {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  color: #515151;
  padding: 14px;
  font-size: 14px;
  background-color: transparent;
  border-style: unset;
  border-radius: 2px;
  cursor: pointer;
  padding: 16px;
  height: 36px;
  max-width: max-content;
}

.add-board:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
