.board-container {
  display: flex;
  flex-direction: column;
}

.board-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  padding-right: 16px;
}

.organization-icon {
  top: -4px;
}

.board-title {
  margin: 0;
  padding: 8px;
}

.btn,
.analyze {
  display: flex;
  background-color: unset;
  color: #03a9f4;
  padding: 12px;
  border-style: none;
  border-radius: 2px;
  margin-right: 0px;
  height: 36px;
  line-height: 3.6rem;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 12px;
}

.btn:hover,
.analyze:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.btn:focus-visible {
  border: none;
}

.setting-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.analyze {
  color: #449d48;
}

.analyze-icon {
  display: flex;
  font-size: 16px;
  padding-left: 4px;
}

.menu {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.23);
  font-size: 13px;
  width: 160px;
  padding: 8px 0 8px;
  flex-direction: column;
  margin: 2px;
  background-color: #fff;
  border-radius: 2px;
  position: absolute;
  margin-top: 40px;
  z-index: 1;
}

.danger,
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4px;
  padding: 8px;
  font-style: normal;
  color: #212121;
  text-decoration: none;
  cursor: pointer;
}

.item:hover {
  background-color: #f2f2f2;
}

.dropdown-divider {
  display: block;
  width: 100%;
  height: 0;
  margin: 5px 0;
  border-top: 1px solid #dfdfdf;
}

.danger {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: #212121;
}

.danger:hover {
  color: red;
  background-color: #f2f2f2;
}

.danger-icon {
  display: flex;
  justify-content: center;
  color: red;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  margin: 15px;
  padding: 25px 15px;
  text-align: center;
  color: #757575;
  border: 2px dashed #cdcdcd;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 16px;
}
